.chat-message.message .message-header {
    max-height: 30px;
}
.chat-message.message .message-header .message-edit {
	width: 0;
	margin: 0;
}
.chat-message.message .message-header .message-edit .fa-pencil-alt:before {
    content: "　";
    border-radius: 50%;
    opacity: 0.5;
    font-size: 60px;
}
.chat-message.message .message-header .message-edit:hover .fa-pencil-alt:before {
    background: var(--text-color);
}
.chat-message.message .message-header .message-edit .fa-pencil-alt:hover:before {
    color: var(--text-color);
}
.chat-message.message .message-header img {
	width: 60px;
	height: 60px;
}
.chat-message.message .message-content {
    width: calc(100% - 65px);
    align-self: flex-end;
    min-height: 33px;
}
.chat-message.message.desc .message-content {
    width: inherit;
    align-self: center;
}
/*
.chat-message.message {
	flex-direction: row;
}
.chat-message.message .message-header {
	flex-direction: column;
	max-width: 82px;
    margin: auto 10px auto 0px;
}
.chat-message.message .message-header img {
	width: 60px;
	height: 60px;
	max-width: 60px;
	max-height: 60px;
	margin: 5px auto;
}
.chat-message.message .message-header .message-sender {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	flex: 1;
    line-height: normal!important;
}
.chat-message.message .message-header .message-sender .illandril-chat-enhancements--playerName {
    font-size: 8px;
    display: block;
}
.chat-message.message .message-header .message-metadata {
	text-align: left;
    margin: 0;
    padding: 0px 10px 0px 0px;
}
.chat-message.message .message-header .message-metadata .message-delete {
	float: right;
    width: 0px;
}
.chat-message.message .message-content {
    height: fit-content;
    margin: auto 0;
}
*/